.site-header {
	background: var(--grey-900);
	color: var(--grey-50);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header__logo {
	color: var(--grey-50);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
	padding: 1rem;
}

.site-header__menu {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 0 1rem;
}

.site-header__menu a {
	color: var(--grey-50);
	font-size: 1rem;
	text-decoration: none;
	transition: color var(--fast);
}

.site-header__menu a:hover {
	color: var(--grey-200);
}

.site-header__menu .sub-menu {
	position: absolute;
	background: var(--grey-900);
	visibility: hidden;
	opacity: 0;
	transition: opacity var(--fast);
	width: max-content;
	padding: 0.5rem 0;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.site-header__menu .menu-item-has-children:after {
	content: "\276F";
	display: inline-block;
	margin-left: 0.25rem;
	transition: color var(--fast);
}

.site-header__menu .menu-item-has-children:hover:after {
	color: var(--grey-200);
}

.site-header__menu .sub-menu .menu-item {
	padding: 0.5rem 1rem;
}

/* Menu Level 1 */
.site-header__menu > .menu-item {
	padding: 1.5rem 0;
}

.site-header__menu > .menu-item-has-children {
	position: relative;
}

.site-header__menu > .menu-item-has-children:after {
	transform: rotate(90deg);
}

.site-header__menu > .menu-item:hover > .sub-menu {
	visibility: visible;
	opacity: 1;
}

.site-header__menu > .menu-item > .sub-menu {
	top: 100%;
	right: -1rem;
}

/* Menu Level 2 */
.site-header__menu .sub-menu > .menu-item {
	position: relative;
}

/* Menu Level 3 */
.site-header__menu .sub-menu .sub-menu {
	border-radius: 0;
	top: 0;
	left: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity var(--fast);
}

.site-header__menu .sub-menu > .menu-item:hover .sub-menu {
	visibility: visible;
	opacity: 1;
}

.site-header__menu .sub-menu .sub-menu a:hover {
	color: var(--grey-100);
}

/* Offcanvas Toggle Button */
.site-header__toggle {
	background: none;
	border: none;
	cursor: pointer;
	z-index: 4;
	padding: 1.75rem 1rem;
}

.site-header__toggle span,
.site-header__toggle span:before,
.site-header__toggle span:after {
	content: "";
	position: relative;
	background: var(--grey-50);
	height: 0.125rem;
	width: 2rem;
	display: block;
	transition: transform var(--fast), top var(--fast);
}

.site-header__toggle span:before {
	top: -0.5rem;
}

.site-header__toggle span:after {
	top: 0.375rem;
}

.site-header__toggle.active span {
	visibility: hidden;
}

.site-header__toggle.active span:before {
	visibility: visible;
	transform: rotate(-45deg);
	top: 0.063rem;
}

.site-header__toggle.active span:after {
	visibility: visible;
	transform: rotate(45deg);
	top: -0.063rem;
}
