.offcanvas {
	position: fixed;
	inset: 0;
	background: var(--grey-900);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}

.offcanvas.active {
	visibility: visible;
	opacity: 1;
}

.offcanvas__container {
	position: relative;
	max-width: var(--container-width);
	padding: var(--container-padding);
	margin: 0 auto;
	height: 100%;
	overflow-y: auto;
}

.offcanvas__menu,
.offcanvas__menu .sub-menu {
	margin: 0;
	list-style: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.offcanvas__menu .menu-item-has-children > a {
	margin-bottom: 1.5rem;
}

.offcanvas__menu a {
	display: block;
	font-size: 2rem;
	color: var(--grey-50);
	text-align: center;
	text-decoration: none;
	transition: color 0.3s;
}

.offcanvas__menu a:hover {
	color: var(--grey-200);
}

.offcanvas__menu .menu__button a {
	padding: 0rem 3rem 0.45rem;
	display: inline-block;
	border: 0.188rem solid var(--white);
	transition: all 0.5s;
	cursor: pointer;
}

.offcanvas__menu .menu__button a:hover {
	border-color: var(--orange-400);
	color: var(--orange-400);
}

.offcanvas__menu .sub-menu a {
	color: var(--grey-300);
}

@media screen and (--breakpoint-tablet) {
	.offcanvas {
		display: none;
	}
}
