.post__container {
	text-align: center;
}
.post__title {
	width: 100%;
	margin: 1.25rem 0 0;
	letter-spacing: 0;
}
.post__meta {
	width: 100%;
	color: var(--subtext);
	margin-bottom: 1rem;
}
.post__image {
	margin: 1.25rem auto 2.5rem;
	position: relative;
}
.post__image:before {
	position: absolute;
	inset: -1.25rem 1.25rem 1.25rem -1.25rem;
	content: "";
	display: block;
	border: 0.125rem solid var(--border);
}
.post__image:after {
	position: absolute;
	inset: 6.25rem -125rem -1.25rem 25%;
	content: "";
	display: block;
	background: var(--mid-background);
	z-index: -1;
}

.post__content {
	width: 100%;
	margin-top: 2.5rem;
}
.post__content h2.wp-block-heading {
	margin: 6rem 0 1rem;
	letter-spacing: 0;
}
.post__content h3.wp-block-heading {
	margin: 4rem 0 1rem;
	letter-spacing: 0;
}
.post__content p {
	margin-bottom: 3rem;
	font-size: 1rem;
	line-height: 2rem;
}
.post__content img {
	max-width: 50rem;
	height: auto;
}
