.cta {
	margin: 3.375rem 0;
	position: relative;
}
.cta__container {
	justify-content: center;
	align-items: center;
}
.cta__container:after {
	position: absolute;
	inset: -3.125rem -1.875rem -3.125rem 1.875rem;
	content: "";
	display: block;
	border: 0.125rem solid var(--border);
	z-index: 1;
}

.cta__form {
	background: var(--white);
	position: relative;
	z-index: 1;
	padding: 1.875rem;
	width: 100%;
	text-align: center;
	order: 2;
}
.cta__form .button {
	/* @include button($black, var(--white), 2rem); */
	margin-top: 0.625rem;
}

.cta__info {
	color: rgba(var(--white), 0.5);
	padding: 3.125rem;
	position: relative;
	text-align: center;
	width: 100%;
	order: 1;
}
.cta__info:before {
	position: absolute;
	inset: 0 50% -6.25rem -100%;
	content: "";
	display: none;
	border: 0.125rem solid var(--border);
}
.cta__info:after {
	position: absolute;
	inset: -1.25rem;
	content: "";
	display: block;
	background: var(--dark-background);
	z-index: 0;
}

.cta__title {
	color: var(--white);
	position: relative;
	font-size: 2.25rem;
	z-index: 1;
	margin-bottom: 0.625rem;
}
.cta__content {
	color: var(--orange-50);
	position: relative;
	z-index: 1;
	font-size: 1rem;
}

@media screen and (--breakpoint-tablet) {
	.cta__container:after {
		display: none;
	}

	.cta__form {
		max-width: 25rem;
		order: 1;
	}

	.cta__form:before {
		display: none;
	}

	.cta__info {
		max-width: 25rem;
		top: -2.5rem;
		order: 2;
	}

	.cta__info:before {
		display: block;
	}
}

@media screen and (min-width: 52rem) {
	.cta {
		margin: 4.5rem 0;
	}
}

@media screen and (--breakpoint-desktop) {
	.cta__form:after {
		position: absolute;
		inset: auto auto -6.25rem 6.25rem;
		content: "";
		display: block;
		background: var(--white);
		margin: 0 auto;
		height: 6.25rem;
		width: 18.75rem;
	}

	.cta__info {
		top: -4.688rem;
	}
}
