html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1rem;
	font-family: var(--font-body);
	background: var(--grey-200);
}

img {
	max-width: 100%;
}

.container {
	max-width: var(--container-width);
	margin: 0 auto;
	background: var(--grey-50);
}

body.fixed {
	position: fixed;
	inset: 0;
}

body.fixed.logged-in {
	top: 2rem;
}

.logged-in .site-header,
.logged-in .offcanvas {
	top: 2rem;
}
