html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1rem;
	font-family: var(--font-body);
	background: var(--grey-200);
}

img {
	max-width: 100%;
}

.container {
	max-width: 58.75rem;
	margin: 0 auto;
	background: var(--grey-50);
}
